<div class="container">
<h3>Cookieverklaring voor whoamid.com</h3>
<p>Op whoamid.com, een site van WhoAmID B.V. , maken wij gebruik van cookies. Een cookie is een eenvoudig klein bestandje dat met pagina’s van deze website wordt meegestuurd en door uw browser op uw harde schrijf van uw computer wordt opgeslagen. De daarin opgeslagen informatie kan bij een volgend bezoek weer naar onze servers teruggestuurd worden.
In deze cookieverklaring lichten wij toe welke cookies er worden geplaatst en met welke doelen.</p>

<h4>Instellingen onthouden</h4>
<p>Wij gebruiken cookies om uw instellingen en voorkeuren vast te leggen, zodat wij hier niet steeds naar hoeven te vragen. </p>
<p>Het gaat om de volgende instellingen en voorkeuren:
<ul>
	<li>een mogelijkheid tot ingelogd blijven</li>
	<li>de realisatie van een winkelwagentje (shopping cart) voor onze webwinkel</li>
	<li>het vertonen van Google Maps om onze locatie weer te geven en om u de mogelijkheid te bieden uw eigen routebeschrijving te maken</li>
	<li>load balancing om bij drukte de site sneller te laten zijn</li>
	<li>onthouden voor welke cookies u toestemming heeft gegeven</li>
	<li>te voorkomen dat u een advertentie al te vaak te zien krijgt</li>
	<li>U kunt deze cookies blokkeren via uw browser, maar dan moet u deze voorkeuren steeds opnieuw ingeven.</li>
</ul>
</p>

<h4>Functioneren van de site</h4>
<p>Wij gebruiken cookies om onze site goed te laten werken. Deze functionele cookies worden alleen voor dit doel gebruikt. Hiermee doen wij het volgende:
visuele instellingen (tekstgrootte, kleuren en dergelijke)
uw naam, e-mailadres en dergelijke zodat u die niet steeds hoeft in te vullen
uw taalvoorkeur
verzoeken om mee te doen aan enquêtes of nieuwsbrieven
te voorkomen dat u een advertentie al te vaak te zien krijgt
U kunt deze cookies blokkeren via uw browser, maar dit kan het functioneren van onze website negatief aantasten.
Social media buttons
Op onze website zijn buttons opgenomen om webpagina’s te kunnen promoten en delen op sociale netwerken, namelijk Facebook, LinkedIn, Twitter, Google+, AddThis, en deze buttons plaatsen cookies.
Deze buttons werken door middel van stukjes code die van deze sociale netwerken zelf afkomstig zijn. Wij hebben daar geen invloed op. Leest u de privacyverklaring van deze netwerken (welke regelmatig kunnen wijzigen) om te lezen wat zij met de (persoons)gegevens doen die zij via deze cookies verkrijgen.</p>

<h4>Tracking en profielen</h4>
<p>Wij gebruiken zogeheten tracking cookies om een profiel over u op te bouwen. Dit tracking cookie kunnen wij ook opvragen wanneer u een andere website uit ons netwerk bezoekt. Hierdoor kunnen wij te weten komen dat u naast deze website ook op deze andere website(s) bent geweest. Het over u opgebouwde profiel wordt niet gekoppeld aan uw naam, adres, e-mailadres en dergelijke zoals bij ons bekend, maar dient alleen om advertenties af te stemmen op uw profiel, zodat deze zo veel mogelijk relevant voor u zijn.
Met uw toestemming plaatsen onze adverteerders “tracking cookies”op uw computer. Deze cookies gebruiken zij om bij te houden welke pagina’s u bezoekt uit hun netwerk, om zo een profiel op te bouwen van uw online surfgedrag. Dit profiel wordt mede opgebouwd op basis van vergelijkbare informatie die zij van uw bezoek aan andere websites uit hun netwerk krijgen. Dit profiel wordt niet gekoppeld aan uw naam, adres, e-mailadres en dergelijke zoals bij ons bekend, maar dient alleen om advertenties af te stemmen op uw profiel zodat deze zo veel mogelijk relevant voor u zijn.</p>

<h4>Recht op inzage en correctie of verwijdering van uw gegevens</h4>
<p>U heeft het recht om te vragen om inzage in en correctie of verwijdering van uw gegevens. Zie hiervoor onze contactpagina. Om misbruik te voorkomen kunnen wij u daarbij vragen om u adequaat te identificeren. Wanneer het gaat om inzage in persoonsgegevens gekoppeld aan een cookie, dient u een kopie van het cookie in kwestie mee te sturen. U kunt deze terug vinden in de instellingen van uw browser.
Meestal kunt u cookies wissen via de instellingen van uw browser. Meer informatie omtrent het in- en uitschakelen en het verwijderen van cookies is te vinden in de instructies en/of met behulp van de Help-functie van uw browser.
</p>

<h4>Meer informatie over cookies</h4>
<p>
Op de volgende websites vindt u meer informatie over cookies:<br />
<ul>
	<li>Consumentenbond: <a href="http://www.consumentenbond.nl/veilig-online/extra/wat-zijn-cookies/" target="_blank">Wat zijn cookies</a></li>
	<li>Consumentenbond: <a href="http://www.consumentenbond.nl/internet-privacy/extra/cookies-verwijderen/" target="_blank">Cookies verwijderen</a></li>
	<li>ICTRecht: Cookierecht.nl <a href="http://www.cookierecht.nl/" target="_blank">alles over cookies en de cookiewet</a></li>
	<li>Your Online Choices: <a href="http://www.youronlinechoices.eu/">A guide to online behavioural advertising</a></li>
</ul>
</p>
</div>