<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Persoonlijk profiel</h3>
  </div>
  <div class="list-group">
    <a class="list-group-item" ng-class="getActiveProfilePageMenuClass('overview')" ng-click="goToProfilePage('overview')">Overzicht</a>
    <a class="list-group-item" ng-class="getActiveProfilePageMenuClass('main')" ng-click="goToProfilePage('main')">Algemeen</a>
    <a class="list-group-item" ng-class="getActiveProfilePageMenuClass('interests')" ng-click="goToProfilePage('interests')">Interesses</a>
    <a class="list-group-item" ng-class="getActiveProfilePageMenuClass('emails')" ng-click="goToProfilePage('emails')">E-Mail adresses</a>
    <a class="list-group-item" ng-class="getActiveProfilePageMenuClass('username')" ng-click="goToProfilePage('username')">Gebruikersnaam</a>
    <a class="list-group-item" ng-class="getActiveProfilePageMenuClass('password')" ng-click="goToProfilePage('password')">Wachtwoord</a>
    <a class="list-group-item" href="#" ng-click="waid.logout()">Uitloggen</a>
  </div>
</div>